<?xml version="1.0"?>
<config>
    <modules>
        <Lyonscg_AirFilter>
            <version>3.0.0</version>
        </Lyonscg_AirFilter>
    </modules>
    <global>
        <blocks>
            <airfilter>
                <class>Lyonscg_AirFilter_Block</class>
            </airfilter>
        </blocks>
        <resources>
            <lyonscg_air_filter>
                <setup>
                    <module>Lyonscg_AirFilter</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lyonscg_air_filter>
            <lyonscg_air_filter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lyonscg_air_filter_write>
            <lyonscg_air_filter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lyonscg_air_filter_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <airfilter>
                <use>standard</use>
                <args>
                    <module>Lyonscg_AirFilter</module>
                    <frontName>AirFilterFinder</frontName>
                </args>
            </airfilter>
        </routers>
        <layout>
            <updates>
                <airfilter>
                    <file>airfilter.xml</file>
                </airfilter>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Lyonscg_AirFilter>
                            <title>Air Filter Configuration</title>
                            <sort_order>10</sort_order>
                        </Lyonscg_AirFilter>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <lyonscg_airfilter>
                                            <title>Filter Finder</title>
                                        </lyonscg_airfilter>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <lyonscg_airfilter>
            <air_filter_details>
                <dfs_brand_category>513</dfs_brand_category>
                <dfs_size_attr_code>size_advertised</dfs_size_attr_code>
                <dfs_depth_list>1,2,4</dfs_depth_list>
                <dfs_mpr_list>500,600,1500,1900,2200</dfs_mpr_list>
                <dfs_category_list>526,530</dfs_category_list>
            </air_filter_details>
        </lyonscg_airfilter>
    </default>
</config>