<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <USWF_CrossCart>
            <version>0.0.1</version>
        </USWF_CrossCart>
    </modules>
    <global>
        <helpers>
            <uswf_crosscart>
                <class>USWF_CrossCart_Helper</class>
            </uswf_crosscart>
        </helpers>
        <models>
            <uswf_crosscart>
                <class>USWF_CrossCart_Model</class>
            </uswf_crosscart>
            <checkout>
                <rewrite>
                    <session>USWF_CrossCart_Model_Checkout_Session</session>
                </rewrite>
            </checkout>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <uswf_crosscart_predispatch>
                        <class>uswf_crosscart/observer</class>
                        <method>renewCookie</method>
                    </uswf_crosscart_predispatch>
                </observers>
            </controller_action_predispatch>
            <crosscart_activate>
                <observers>
		    <uswf_crosscart>
                        <class>uswf_crosscart/observer</class>
                        <method>activateCart</method>
                    </uswf_crosscart>
                </observers>
            </crosscart_activate>
            <something_totally_arbitrary>
                <observers>
		    <uswf_crosscart_arb>
                        <class>uswf_crosscart/observer</class>
                        <method>arbitrary</method>
                    </uswf_crosscart_arb>
                </observers>
            </something_totally_arbitrary>
        </events>
        <routers>
            <crosscart>
                <use>standard</use>
                <args>
                    <module>USWF_CrossCart</module>
                    <frontName>crosscart</frontName>
                </args>
            </crosscart>
        </routers>   
    </frontend>
</config>
