<?xml version="1.0"?>
<config>
    <modules>
        <USWF_PreviewCart>
            <version>0.1.0</version>
        </USWF_PreviewCart>
    </modules>
    <global>
        <models>
            <uswf_previewcart>
                <class>USWF_PreviewCart_Model</class>
            </uswf_previewcart>
        </models>
        <blocks>
            <uswf_previewcart>
                <class>USWF_PreviewCart_Block</class>
            </uswf_previewcart>
        </blocks>
        <helpers>
            <uswf_previewcart>
                <class>USWF_PreviewCart_Helper</class>
            </uswf_previewcart>
        </helpers>
        <resources>
            <uswf_previewcart_setup>
                <setup>
                    <module>USWF_PreviewCart</module>
                </setup>
            </uswf_previewcart_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <uswf_previewcart>
                <use>standard</use>
                <args>
                    <module>USWF_PreviewCart</module>
                    <frontName>previewcart</frontName>
                </args>
            </uswf_previewcart>
        </routers>
        <layout>
            <updates>
                <uswf_previewcart>
                    <file>uswf/previewcart.xml</file>
                </uswf_previewcart>
            </updates>
        </layout>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <uswf_previewcart>
                        <class>uswf_previewcart/observer</class>
                        <method>checkoutCartAddPreviewPage</method>
                    </uswf_previewcart>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
    </frontend>
    <websites>
        <dfs>
            <uswf_previewcart>
                <general>
                    <active>1</active>
                </general>
            </uswf_previewcart>
        </dfs>
    </websites>
    <adminhtml>
        <layout>
            <updates>
                <uswf_previewcart>
                    <file>uswf/previewcart.xml</file>
                </uswf_previewcart>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <uswf_previewcart after="Mage_Adminhtml">USWF_PreviewCart_Adminhtml</uswf_previewcart>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>