<?xml version="1.0"?>
<config>
    <modules>
        <Lyonscg_BusinessAccount>
            <version>1.0.0</version>
        </Lyonscg_BusinessAccount>
    </modules>
    <global>
        <helpers>
            <lyonscg_businessaccount>
                <class>Lyonscg_BusinessAccount_Helper</class>
            </lyonscg_businessaccount>
        </helpers>
        <resources>
            <lyonscg_businessaccount_setup>
                <setup>
                    <module>Lyonscg_BusinessAccount</module>
                </setup>
            </lyonscg_businessaccount_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <lyonscg_businessaccount>
                    <file>lyonscg_businessaccount.xml</file>
                </lyonscg_businessaccount>
            </updates>
        </layout>
        <routers>
            <businessaccount>
                <use>standard</use>
                <args>
                    <module>Lyonscg_BusinessAccount</module>
                    <frontName>businessaccount</frontName>
                </args>
            </businessaccount>
        </routers>
    </frontend>
    <default>
        <lyonscg_businessaccount>
            <email>
                <recipient_email></recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template></email_template>
            </email>
        </lyonscg_businessaccount>
    </default>
</config>