<?xml version="1.0"?>
<config>
    <modules>
        <Lyonscg_GoogleAnalytics>
            <version>0.1.0</version>
        </Lyonscg_GoogleAnalytics>
    </modules>
    <global>
        <blocks>
            <lyonscg_googleanalytics>
                <class>Lyonscg_GoogleAnalytics_Block</class>
            </lyonscg_googleanalytics>
            <googleanalytics>
                <rewrite>
                    <ga>Lyonscg_GoogleAnalytics_Block_Ga</ga>
                </rewrite>
            </googleanalytics>
        </blocks>
    </global>
</config>
