<?xml version="1.0"?>
<config>
    <modules>
        <USWF_ComparePage>
            <version>0.1.0</version>
        </USWF_ComparePage>
    </modules>
    <global>
        <models>
            <uswf_comparepage>
                <class>USWF_ComparePage_Model</class>
                <resourceModel>uswf_comparepage_resource</resourceModel>
            </uswf_comparepage>
            <uswf_comparepage_resource>
                <class>USWF_ComparePage_Model_Resource</class>
                <entities>
                    <compare_widget>
                        <table>compare_widget</table>
                    </compare_widget>
                    <compare_widget_store>
                        <table>compare_widget_store</table>
                    </compare_widget_store>
                    <compare_widget_default>
                        <table>compare_widget_default</table>
                    </compare_widget_default>
                    <compare_widget_product_options>
                        <table>compare_widget_product_options</table>
                    </compare_widget_product_options>
                    <compare_widget_product_options_store>
                        <table>compare_widget_product_options_store</table>
                    </compare_widget_product_options_store>
                    <compare_widget_product_options_default>
                        <table>compare_widget_product_options_default</table>
                    </compare_widget_product_options_default>
                </entities>
            </uswf_comparepage_resource>
        </models>
        <blocks>
            <uswf_comparepage>
                <class>USWF_ComparePage_Block</class>
            </uswf_comparepage>
        </blocks>
        <helpers>
            <uswf_comparepage>
                <class>USWF_ComparePage_Helper</class>
            </uswf_comparepage>
        </helpers>
        <resources>
            <uswf_comparepage_setup>
                <setup>
                    <module>USWF_ComparePage</module>
                </setup>
            </uswf_comparepage_setup>
        </resources>
        <events>
            <catalog_product_delete_after_done>
                <observers>
                    <uswf_comparepage_catalog_product_delete_after_done>
                        <class>USWF_ComparePage_Model_Observer</class>
                        <method>catalogProductDeleteAfterDone</method>
                    </uswf_comparepage_catalog_product_delete_after_done>
                </observers>
            </catalog_product_delete_after_done>
        </events>
    </global>
    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <uswf_comparepage>
                        <class>uswf_comparepage/observer</class>
                        <method>cmsPageRender</method>
                    </uswf_comparepage>
                </observers>
            </cms_page_render>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <uswf_comparepage>
                    <file>uswf/comparepage.xml</file>
                </uswf_comparepage>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <uswf_comparepage_catalog_product_prepare_save>
                        <class>uswf_comparepage/observer</class>
                        <method>catalogProductPrepareSave</method>
                    </uswf_comparepage_catalog_product_prepare_save>
                </observers>
            </catalog_product_prepare_save>
            <adminhtml_cms_page_edit_tab_content_prepare_form>
                <observers>
                    <uswf_comparepage_adminhtml_cms_page_edit_tab_content_prepare_form>
                        <class>uswf_comparepage/observer</class>
                        <method>adminhtmlCmsPageEditTabContentPrepareForm</method>
                    </uswf_comparepage_adminhtml_cms_page_edit_tab_content_prepare_form>
                </observers>
            </adminhtml_cms_page_edit_tab_content_prepare_form>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <uswf_comparepage before="Mage_Adminhtml">USWF_ComparePage_Adminhtml</uswf_comparepage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>