<?xml version="1.0"?>
<config>
    <modules>
        <Lyonscg_CachedCompare>
            <version>1.0.0</version>
        </Lyonscg_CachedCompare>
    </modules>
    <global>
        <blocks>
            <lyonscg_cachedcompare>
                <class>Lyonscg_CachedCompare_Block</class>
            </lyonscg_cachedcompare>
        </blocks>
        <models>
            <lyonscg_cachedcompare>
                <class>Lyonscg_CachedCompare_Model</class>
            </lyonscg_cachedcompare>
        </models>
    </global>
</config>