<?xml version="1.0"?>
<config>
    <modules>
        <USWF_LinksCatalog>
            <version>0.1.2</version>
        </USWF_LinksCatalog>
    </modules>
    <global>
        <models>
            <uswf_linkscatalog>
                <class>USWF_LinksCatalog_Model</class>
                <resourceModel>uswf_linkscatalog_resource</resourceModel>
            </uswf_linkscatalog>
            <uswf_linkscatalog_resource>
                <class>USWF_LinksCatalog_Model_Resource</class>
            </uswf_linkscatalog_resource>
        </models>
        <blocks>
            <uswf_linkscatalog>
                <class>USWF_LinksCatalog_Block</class>
            </uswf_linkscatalog>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_attributes>USWF_LinksCatalog_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <uswf_linkscatalog>
                <class>USWF_LinksCatalog_Helper</class>
            </uswf_linkscatalog>
        </helpers>
        <resources>
            <uswf_linkscatalog_setup>
                <setup>
                    <module>USWF_LinksCatalog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </uswf_linkscatalog_setup>
        </resources>
    </global>
</config>
