<?xml version="1.0"?>
<config>
    <modules>
        <USWF_Unserialize>
            <version>0.1.0</version>
        </USWF_Unserialize>
    </modules>
    <global>
        <helpers>
            <uswf_unserialize>
                <class>USWF_Unserialize_Helper</class>
            </uswf_unserialize>
            <core>
                <rewrite>
                    <unserializeArray>USWF_Unserialize_Helper_Core_Unserializearray</unserializeArray>
                </rewrite>
            </core>
        </helpers>
    </global>
</config>