<?xml version="1.0"?>
<config>
    <sections>
        <qubit_universalvariable translate="label">
            <groups>
                <QuBit_OpenTag_Settings translate="label">
                    <fields>
                        <Gate_Enabled translate="label">
                            <label>Google ROI Tracker Tag / Gate Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </Gate_Enabled>
                        <Gate_Script translate="label">
                            <label>Google ROI Tracker Tag / Gate Script</label>
                            <frontend_type>textarea</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <Gate_Enabled>1</Gate_Enabled>
                            </depends>
                        </Gate_Script>
                    </fields>
                </QuBit_OpenTag_Settings>
            </groups>
        </qubit_universalvariable>
    </sections>
</config>
