<?xml version="1.0"?>
<config>
    <modules>
        <USWF_AutoCoupon>
            <version>0.1.0</version>
        </USWF_AutoCoupon>
    </modules>
    <global>
        <models>
            <uswf_autocoupon>
                <class>USWF_AutoCoupon_Model</class>
            </uswf_autocoupon>
        </models>
        <helpers>
            <uswf_autocoupon>
                <class>USWF_AutoCoupon_Helper</class>
            </uswf_autocoupon>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <uswf_autocoupon_controller_action_predispatch>
                        <type>singleton</type>
                        <class>uswf_autocoupon/observer</class>
                        <method>controllerActionPredispatch</method>
                    </uswf_autocoupon_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <checkout_cart_add_product_complete>
                <observers>
                    <uswf_autocoupon_cart_add_product_complete>
                        <type>singleton</type>
                        <class>uswf_autocoupon/observer</class>
                        <method>checkoutCartAddProductComplete</method>
                    </uswf_autocoupon_cart_add_product_complete>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_save_after>
                <observers>
                    <uswf_autocoupon_cart_save_after>
                        <type>singleton</type>
                        <class>uswf_autocoupon/observer</class>
                        <method>checkoutCartAddProductComplete</method>
                    </uswf_autocoupon_cart_save_after>
                </observers>
            </checkout_cart_save_after>
        </events>
    </frontend>
    <default>
        <uswf_autocoupon>
            <general>
                <active>1</active>
                <link_param>autocoupon_code</link_param>
            </general>
        </uswf_autocoupon>
    </default>
</config>