<?xml version="1.0"?>
<config>
    <modules>
        <Lyonscg_HasOffers>
            <version>0.1.0</version>
        </Lyonscg_HasOffers>
    </modules>
    <global>
        <helpers>
            <lyonscg_hasoffers>
                <class>Lyonscg_HasOffers_Helper</class>
            </lyonscg_hasoffers>
        </helpers>
        <models>
            <lyonscg_hasoffers>
                <class>Lyonscg_HasOffers_Model</class>
                <resourceModel>lyonscg_hasoffers_resource</resourceModel>
            </lyonscg_hasoffers>
            <lyonscg_hasoffers_resource>
                <class>Lyonscg_HasOffers_Model_Resource</class>
                <entities>
                    <order>
                        <table>lyonscg_hasoffers_order</table>
                    </order>
                </entities>
            </lyonscg_hasoffers_resource>
        </models>
        <resources>
            <lyonscg_hasoffers_setup>
                <setup>
                    <module>Lyonscg_HasOffers</module>
                </setup>
            </lyonscg_hasoffers_setup>>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <lyonscg_hasoffers>
                        <class>lyonscg_hasoffers/observer</class>
                        <method>onControllerActionPredispatch</method>
                    </lyonscg_hasoffers>
                </observers>
            </controller_action_predispatch>
            <sales_order_place_after>
                <observers>
                    <lyonscg_hasoffers>
                        <class>lyonscg_hasoffers/observer</class>
                        <method>onSalesOrderPlaceAfter</method>
                    </lyonscg_hasoffers>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
</config>