<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* config.xml
*
* @category    USWF
* @package     USWF_Replacementbrand
* @copyright
* @author
*/
-->
<config>
    <modules>
        <USWF_Replacementbrand>
            <version>0.0.9</version>
        </USWF_Replacementbrand>
    </modules>
    <global>
        <blocks>
            <uswf_replacementbrand>
                <class>USWF_Replacementbrand_Block</class>
            </uswf_replacementbrand>
            <enterprise_search>
                <rewrite>
                    <catalog_layer_view>USWF_Replacementbrand_Block_Search_Catalog_Layer_View</catalog_layer_view>
                    <catalogsearch_layer>USWF_Replacementbrand_Block_Search_Catalogsearch_Layer</catalogsearch_layer>
                </rewrite>
            </enterprise_search>
            <catalog>
                <rewrite>
                    <layer_view>USWF_Replacementbrand_Block_Catalog_Layer_View</layer_view>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <uswf_replacementbrand>
                <class>USWF_Replacementbrand_Helper</class>
            </uswf_replacementbrand>
        </helpers>
        <models>
            <uswf_replacementbrand>
                <class>USWF_Replacementbrand_Model</class>
            </uswf_replacementbrand>
        </models>
        <resources>
            <uswf_replacementbrand_setup>
                <setup>
                    <module>USWF_Replacementbrand</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </uswf_replacementbrand_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <quickview>
                <args>
                    <modules>
                        <USWF_Replacementbrand before="Cmsmart_QuickView">USWF_Replacementbrand_CmsmartQuickView</USWF_Replacementbrand>
                    </modules>
                </args>
            </quickview>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <uswf_replacementbrand translate="title" module="uswf_replacementbrand">
                                            <title>USWF ReplacementBrand</title>
                                            <sort_order>101</sort_order>
                                        </uswf_replacementbrand>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <uswf_replacementbrand>
            <categories>
                <blank_image>category_blank.png</blank_image>
            </categories>
            <catalog_product_new>
                <enabled>0</enabled>
            </catalog_product_new>
        </uswf_replacementbrand>
    </default>
</config>