<?xml version="1.0"?>
<config>
    <modules>
        <USWF_Jobs>
            <version>0.1.0</version>
        </USWF_Jobs>
    </modules>
    <global>
        <models>
            <uswf_jobs>
                <class>USWF_Jobs_Model</class>
                <resourceModel>uswf_jobs_resource</resourceModel>
            </uswf_jobs>
            <uswf_jobs_resource>
                <class>USWF_Jobs_Model_Resource</class>
            </uswf_jobs_resource>
        </models>
        <blocks>
            <uswf_jobs>
                <class>USWF_Jobs_Block</class>
            </uswf_jobs>
        </blocks>
        <helpers>
            <uswf_jobs>
                <class>USWF_Jobs_Helper</class>
            </uswf_jobs>
        </helpers>
        <resources>
            <uswf_jobs_setup>
                <setup>
                    <module>USWF_Jobs</module>
                </setup>
            </uswf_jobs_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_jobs_application_applyPost>
                <observers>
                    <uswf_jobs>
                        <class>uswf_jobs/observer</class>
                        <method>jobsApplyPost</method>
                    </uswf_jobs>
                </observers>
            </controller_action_predispatch_jobs_application_applyPost>
        </events>
        <routers>
            <jobs>
                <args>
                    <modules>
                        <uswf_jobs before="Zeon_Jobs">USWF_Jobs</uswf_jobs>
                    </modules>
                </args>
            </jobs>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <uswf_jobs before="Zeon_Jobs_Adminhtml">USWF_Jobs_Adminhtml</uswf_jobs>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>