<?xml version="1.0"?>
<config>
    <modules>
        <USWF_Adsense>
            <version>0.1.0</version>
        </USWF_Adsense>
    </modules>
    <global>
        <models>
            <uswf_adsense>
                <class>USWF_Adsense_Model</class>
            </uswf_adsense>
        </models>
        <blocks>
            <uswf_adsense>
                <class>USWF_Adsense_Block</class>
            </uswf_adsense>
        </blocks>
        <helpers>
            <uswf_adsense>
                <class>USWF_Adsense_Helper</class>
            </uswf_adsense>
        </helpers>
        <resources>
            <uswf_adsense_setup>
                <setup>
                    <module>USWF_Adsense</module>
                </setup>
            </uswf_adsense_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <uswf_adsense>
                    <file>uswf/adsense.xml</file>
                </uswf_adsense>
            </updates>
        </layout>
    </frontend>

    <default>
        <uswf_adsense>
            <general>
                <active>1</active>
                <sb_identifier>block_adsense</sb_identifier>
            </general>
        </uswf_adsense>
    </default>
</config>