<?xml version="1.0"?>
<config>
    <modules>
        <USWF_Elastic>
            <version>1.0.0</version>
        </USWF_Elastic>
    </modules>
    <global>
        <index>
            <!-- Enable this when it works... -->
            <!--<indexer>
                <uswf_elastic_index>
                    <model>uswf_elastic/product_indexer_elastic</model>
                </uswf_elastic_index>
            </indexer>-->
        </index>
        <models>
            <uswf_elastic>
                <class>USWF_Elastic_Model</class>
            </uswf_elastic>
        </models>
        <helpers>
            <uswf_elastic>
                <class>USWF_Elastic_Helper</class>
            </uswf_elastic>
        </helpers>
        <events>
            <catalog_product_save_after>
                <observers>
                    <uswf_elastic>
                        <class>uswf_elastic/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </uswf_elastic>
                </observers>
            </catalog_product_save_after>
            <sales_order_place_after>
                <observers>
                    <uswf_elastic_order>
                        <class>uswf_elastic/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </uswf_elastic_order>
                </observers>
            </sales_order_place_after>
            <customer_save_after>
                <observers>
                    <uswf_elastic_customer>
                        <class>uswf_elastic/observer</class>
                        <method>customerSaveAfter</method>
                    </uswf_elastic_customer>
                </observers>
            </customer_save_after>
            <adminhtml_customer_save_after>
                <observers>
                    <uswf_elastic_customer_admin>
                        <class>uswf_elastic/observer</class>
                        <method>customerSaveAfter</method>
                    </uswf_elastic_customer_admin>
                </observers>
            </adminhtml_customer_save_after>
        </events>
    </global>
    <default>
        <uswf_elastic>
            <general>
                <url>http://localhost:9200/uswf</url>
            </general>
        </uswf_elastic>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <uswf_elastic after="Mage_Adminhtml">USWF_Elastic_Adminhtml</uswf_elastic>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <uswf_elastic>
                                            <title>ElasticSearch</title>
                                        </uswf_elastic>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
