<?xml version="1.0"?>
  <config>
     <modules>
        <USWF_BrontoTrack>
          <version>1.0.0</version>
        </USWF_BrontoTrack>
     </modules>
     <global>
         <models>
             <uswf_brontotrack>
                 <class>USWF_BrontoTrack_Model</class>
             </uswf_brontotrack>
         </models>
     </global>
     <frontend>
        <events>
            <sales_order_place_after>
                <observers>
                    <uswf_brontotrack_ordertrack>
                        <type>model</type>
                        <class>USWF_BrontoTrack_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </uswf_brontotrack_ordertrack>
                </observers>
            </sales_order_place_after>
        </events>
        <routers>
            <uswf_brontotrack>
            <use>standard</use>
            <args>
                <module>USWF_BrontoTrack</module>
                <frontName>ordertrack</frontName>
            </args>
            </uswf_brontotrack>
        </routers>    
    </frontend>
</config>
