<?xml version="1.0"?>
<config>
    <modules>
        <USWF_HotdealGroupPricing>
            <version>1.0.0</version>
        </USWF_HotdealGroupPricing>
    </modules>
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>uswf</default>
                </theme>
            </design>
        </admin>
    </stores>
    <global>
        <helpers>
            <uswf_hotdealgrouppricing>
                <class>USWF_HotdealGroupPricing_Helper</class>
            </uswf_hotdealgrouppricing>
        </helpers>
        <models>
            <uswf_hotdealgrouppricing>
                <class>USWF_HotdealGroupPricing_Model</class>
            </uswf_hotdealgrouppricing>
            <catalogrule>
                <rewrite>
                    <observer>USWF_HotdealGroupPricing_Model_Observer</observer>
                </rewrite>
            </catalogrule>
        </models>
        <resources>
            <uswf_hotdealgrouppricing_setup>
                <setup>
                    <module>USWF_HotdealGroupPricing</module>
                </setup>
            </uswf_hotdealgrouppricing_setup>
        </resources>
        <events>
            <controller_front_init_before>
                <observers>
                    <uswf_hotdealgrouppricing_controller_front_init_before>
                        <class>USWF_HotdealGroupPricing_Model_Observer</class>
                        <method>controllerFrontInitBefore</method>
                    </uswf_hotdealgrouppricing_controller_front_init_before>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <lyonscg_hotdeal>
                        <type>disabled</type>
                    </lyonscg_hotdeal>
                </observers>
            </catalog_controller_product_view>
        </events>
    </frontend>
</config>
