<?xml version="1.0"?>
<config>
    <modules>
        <USWF_GroupedCartName>
            <version>0.1.1</version>
        </USWF_GroupedCartName>
    </modules>
    <global>
        <blocks>
            <bundle>
                <rewrite>
                    <checkout_cart_item_renderer>USWF_GroupedCartName_Block_Bundle_Cart_Item_Renderer</checkout_cart_item_renderer>
                </rewrite>
            </bundle>
            <checkout>
                <rewrite>
                    <cart_item_renderer>USWF_GroupedCartName_Block_Cart_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <USWF_GroupedCartName>
                <class>USWF_GroupedCartName_Model</class>
            </USWF_GroupedCartName>
            <sales>
                <rewrite>
                    <quote_item>USWF_GroupedCartName_Model_Sales_Quote_Item</quote_item>
                </rewrite>
            </sales>
        </models>
        <resources>
            <uswf_groupedcartname_setup>
                <setup>
                    <module>USWF_GroupedCartName</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </setup>
            </uswf_groupedcartname_setup>
        </resources>
        <events>
            <sales_quote_save_before> 
                <observers>
                    <USWF_GroupedCartName_checkQuoteItemQty>
                        <class>USWF_GroupedCartName_Model_Observer</class>
                        <method>checkQuoteItemQty</method>
                    </USWF_GroupedCartName_checkQuoteItemQty>
                </observers>
            </sales_quote_save_before>
            <catalog_product_get_final_price>
                <observers>
                    <USWF_GroupedCartName_catalog_product_get_final_price>
                        <class>USWF_GroupedCartName_Model_Observer</class>
                        <method>catalogProductGetFinalPrice</method>
                    </USWF_GroupedCartName_catalog_product_get_final_price>
                </observers>
            </catalog_product_get_final_price>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <not_for_sale/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <adminhtml>
        <events>
            <sales_quote_item_qty_set_after> 
                <observers>
                    <USWF_GroupedCartName_checkQuoteItemQtyadmin>
                        <class>USWF_GroupedCartName_Model_Observer</class>
                        <method>checkQuoteItemQtyAdmin</method>
                    </USWF_GroupedCartName_checkQuoteItemQtyadmin>
                </observers>
            </sales_quote_item_qty_set_after>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <groupedproductconfiguration>
                <args>
                    <modules>
                        <uswf_groupedcartname before="Lyonscg_GroupedProductConfiguration">USWF_GroupedCartName</uswf_groupedcartname>
                    </modules>
                </args>
            </groupedproductconfiguration>
            <onestepcheckout>
                <args>
                    <modules>
                        <uswf_groupedcartname before="Idev_OneStepCheckout">USWF_GroupedCartName</uswf_groupedcartname>
                    </modules>
                </args>
            </onestepcheckout>
        </routers>
        <events>
            <sales_quote_item_save_before>
                <observers>
                    <USWF_GroupedCartName_sales_quote_item_save_before>
                        <type>model</type>
                        <class>USWF_GroupedCartName_Model_Observer</class>
                        <method>changeGroupedCartName</method>
                    </USWF_GroupedCartName_sales_quote_item_save_before>
                </observers>
            </sales_quote_item_save_before>
        </events>
    </frontend>
</config>
