<?xml version="1.0"?>
<config>
    <modules>
        <Lyonscg_Navigation>
            <version>1.0.0</version>
        </Lyonscg_Navigation>
    </modules>
    <global>
        <blocks>
            <lyonscg_navigation>
                <class>Lyonscg_Navigation_Block</class>
            </lyonscg_navigation>
            <catalog>
                <rewrite>
                    <navigation>Lyonscg_Navigation_Block_Navigation</navigation>
                </rewrite>
            </catalog>
        </blocks>
    </global>
</config>