<?xml version="1.0"?>
<config>
	<modules>
		<Wagento_Custom>
			<version>0.2.1</version>
		</Wagento_Custom>
	</modules>
	<global>
		<blocks>
			<custom><class>Wagento_Custom_Block</class></custom>
			<customer>
				<rewrite>
					<account_navigation>Wagento_Custom_Block_Customer_Account_Navigation</account_navigation>
				</rewrite>
			</customer>
			<page>
				<rewrite>
					<template_links>Wagento_Custom_Block_Page_Template_Links</template_links>
					<html_header>Wagento_Custom_Block_Page_Html_Header</html_header>
				</rewrite>
			</page>
		</blocks>
		<resources>
            <wagento_custom_setup>
                <setup>
                    <module>Wagento_Custom</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </wagento_custom_setup>
        </resources>
	</global>
	<frontend>
        <routers>
            <custom>
                <use>standard</use>
                <args>
                    <module>Wagento_Custom</module>
                    <frontName>custom</frontName>
                </args>
            </custom>
        </routers>
		<layout>
			<updates>
				<wagento_custom>
					<file>wagento_custom.xml</file>
				</wagento_custom>
			</updates>
		</layout>
    </frontend>
</config>
