<?xml version="1.0"?>
<config>
    <modules>
        <USWF_ParameterDispatch>
            <version>1.0.0</version>
        </USWF_ParameterDispatch>
    </modules>
    <global>
        <models>
            <uswf_parameterdispatch>
                <class>USWF_ParameterDispatch_Model</class>
                <resourceModel>uswf_parameterdispatch_resource</resourceModel>
            </uswf_parameterdispatch>
            <uswf_parameterdispatch_resource>
                <class>USWF_ParameterDispatch_Model_Resource</class>
                <entities>
                    <event>
                        <table>uswf_parameter_dispatch</table>
                    </event>
                </entities>
            </uswf_parameterdispatch_resource>
        </models>
        <blocks>
            <uswf_parameterdispatch>
                <class>USWF_ParameterDispatch_Block</class>
            </uswf_parameterdispatch>
        </blocks>
        <helpers>
            <uswf_parameterdispatch>
                <class>USWF_ParameterDispatch_Helper</class>
            </uswf_parameterdispatch>
        </helpers>
        <resources>
            <uswf_parameterdispatch_setup>
                <setup>
                    <module>USWF_ParameterDispatch</module>
                </setup>
            </uswf_parameterdispatch_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <uswf_parameterdispatch>
                        <class>uswf_parameterdispatch/observer</class>
                        <method>onControllerActionPredispatch</method>
                    </uswf_parameterdispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
		    <modules>
                        <uswf_parameterdispatch after="Mage_Adminhtml">USWF_ParameterDispatch_Adminhtml</uswf_parameterdispatch>
                    </modules>
                </args>

            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <uswf_parameterdispatch translate="title" module="uswf_parameterdispatch">
                        <title>URL Parameter Dispatch Events</title>
                        <sort_order>100</sort_order>
                        <action>adminhtml/parameterdispatch/</action>
                    </uswf_parameterdispatch>
                </children>
            </system>
        </menu>
    </adminhtml>
</config>
