<?xml version="1.0"?>
<config>
    <modules>
        <Sam_CartCustomOptions>
            <version>0.0.1</version>
        </Sam_CartCustomOptions>
    </modules>
    <global>

        <helpers>
            <sam_cartcustomoptions>
                <class>Sam_CartCustomOptions_Helper</class>
            </sam_cartcustomoptions>
        </helpers>

    </global>

    <frontend>
        <routers>
            <checkout>
              <args>
                <modules>
                    <Sam_CartCustomOptions before="Idev_OneStepCheckout">Sam_CartCustomOptions</Sam_CartCustomOptions>
                </modules>
              </args>
            </checkout>
        </routers>


    </frontend>
</config>
