<?xml version="1.0"?>
<config>
    <modules>
        <Fooman_EmailAttachments>
            <version>0.6.3</version>
            <depends>
            </depends>
        </Fooman_EmailAttachments>
    </modules>

    <global>
        <models>
            <emailattachments>
                <class>Fooman_EmailAttachments_Model</class>
            </emailattachments>
            <sales>
                 <rewrite>
                    <order>Fooman_EmailAttachments_Model_Order</order>
                </rewrite>
                 <rewrite>
                    <order_invoice>Fooman_EmailAttachments_Model_Order_Invoice</order_invoice>
                </rewrite>
                 <rewrite>
                    <order_shipment>Fooman_EmailAttachments_Model_Order_Shipment</order_shipment>
                </rewrite>
                 <rewrite>
                    <order_creditmemo>Fooman_EmailAttachments_Model_Order_Creditmemo</order_creditmemo>
                </rewrite>
            </sales>
        </models>
        <blocks>
	    	<adminhtml>
	    		<rewrite>
	    			<sales_order_view>Fooman_EmailAttachments_Block_View</sales_order_view>
	    		</rewrite>
	    	</adminhtml>
    	</blocks>
        <pdf>
            <order>
                <default>emailattachments/order_pdf_items_order_default</default>
                <grouped>emailattachments/order_pdf_items_order_grouped</grouped>
            </order>
        </pdf>
        <helpers>
            <emailattachments>
                <class>Fooman_EmailAttachments_Helper</class>
            </emailattachments>
        </helpers>
        <emailattachments><!-- config values --></emailattachments>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <addbutton>
                        <type>singleton</type>
                        <class>Fooman_EmailAttachments_Model_Observer</class>
                        <method>addbutton</method>
                    </addbutton>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
        <translate>
            <modules>
                <Fooman_EmailAttachments>
                    <files>
                        <default>Fooman_EmailAttachments.csv</default>
                    </files>
                </Fooman_EmailAttachments>
            </modules>
        </translate>
    </adminhtml>

    <admin>
        <routers>
            <emailattachments>
                <use>admin</use>
                <args>
                    <module>Fooman_EmailAttachments</module>
                    <frontName>emailattachments</frontName>
                </args>
            </emailattachments>
        </routers>
    </admin>

	<default>
        <config_vars><!--config values --></config_vars>
        <sales_email>
            <order>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </order>
            <invoice>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </invoice>
            <invoice_comment>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </invoice_comment>
            <shipment>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </shipment>
            <shipment_comment>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </shipment_comment>
            <creditmemo>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </creditmemo>
            <creditmemo_comment>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </creditmemo_comment>
        </sales_email>
    </default>
    <crontab>
        <jobs>
            <emailattachments_updates>
                <schedule><cron_expr>* */8 * * *</cron_expr></schedule>
                <run><model>emailattachments/updates::checkUpdate</model></run>
            </emailattachments_updates>
        </jobs>
    </crontab>
</config>