<?xml version="1.0"?>
<config>
    <modules>
        <Lyonscg_Catalog>
            <version>0.1.2</version>
        </Lyonscg_Catalog>
    </modules>
    <global>
        <models>
            <lyonscg_catalog>
                <class>Lyonscg_Catalog_Model</class>
            </lyonscg_catalog>
            <catalog_resource>
                <rewrite>
                    <category_flat>Lyonscg_Catalog_Model_Resource_Category_Flat</category_flat>
                </rewrite>
            </catalog_resource>
        </models>
        <blocks>
            <lyonscg_catalog>
                <class>Lyonscg_Catalog_Block</class>
            </lyonscg_catalog>
        </blocks>
        <resources>
            <lyonscg_catalog_setup>
                <setup>
                    <module>Lyonscg_Catalog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </lyonscg_catalog_setup>
            <lyonscg_catalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lyonscg_catalog_write>
            <lyonscg_catalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lyonscg_catalog_read>
        </resources>
    </global>
    <frontend>
        <events>
            <catalog_category_flat_loadnodes_before>
                <observers>
                    <lyonscg_catalog_catalog_category_flat_loadnodes_before>
                        <class>Lyonscg_Catalog_Model_Observer</class>
                        <type>model</type>
                        <method>addShortName</method>
                    </lyonscg_catalog_catalog_category_flat_loadnodes_before>
                </observers>
            </catalog_category_flat_loadnodes_before>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <lyonscg_catalog_page_block_html_topmenu_gethtml_before>
                        <class>Lyonscg_Catalog_Model_Observer</class>
                        <type>model</type>
                        <method>addShortNameToCatalogTopmenuItems</method>
                    </lyonscg_catalog_page_block_html_topmenu_gethtml_before>
                </observers>
            </page_block_html_topmenu_gethtml_before>
            <catalog_product_is_salable_after>
                <observers>
                    <lyonscg_catalog_product_is_salable_after>
                        <class>Lyonscg_Catalog_Model_Observer</class>
                        <type>singleton</type>
                        <method>checkIsNotForSale</method>
                    </lyonscg_catalog_product_is_salable_after>
                </observers>
            </catalog_product_is_salable_after>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>

                        <system>
                            <children>
                                <config>
                                    <children>
                                        <lyonscg_catalog>
                                            <title>Upsell Banner Details</title>
                                        </lyonscg_catalog>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <lyonscg_catalog>
            <upsell_banner_conf>
                <banner_primary_text>Don’t want to pay %s?</banner_primary_text>
                <banner_secondary_text>Try our high quality alternative and save %s</banner_secondary_text>
                <banner_text_color>#fff</banner_text_color>
                <banner_fill_color>#279F4B</banner_fill_color>
                <banner_image>tier1-logo.png</banner_image>

            </upsell_banner_conf>
        </lyonscg_catalog>
    </default>

</config>
