<?xml version="1.0"?>
<config>
    <modules>
        <USWF_GroupedProductConfiguration>
            <version>0.0.1</version>
        </USWF_GroupedProductConfiguration>
    </modules>
    <global>
        <helpers>
            <uswf_groupedproductconfiguration>
                <class>USWF_GroupedProductConfiguration_Helper</class>
            </uswf_groupedproductconfiguration>
            <itoris_groupedproductconfiguration>
                <rewrite>
                    <data>USWF_GroupedProductConfiguration_Helper_Data</data>
                </rewrite>
            </itoris_groupedproductconfiguration>
            <lyonscg_review>
                <rewrite>
                    <data>USWF_GroupedProductConfiguration_Helper_Review</data>
                </rewrite>
            </lyonscg_review>
        </helpers>
        <models>
            <uswf_groupedproductconfiguration>
                <class>USWF_GroupedProductConfiguration_Model</class>
            </uswf_groupedproductconfiguration>
            <catalog>
                <rewrite>
                    <product_type_grouped>USWF_GroupedProductConfiguration_Model_Product_Type_Grouped</product_type_grouped>
                </rewrite>
            </catalog>
            <review>
                <rewrite>
                    <review>USWF_GroupedProductConfiguration_Model_Review</review>
                </rewrite>
            </review>
            <catalog_resource>
                <rewrite>
                    <product_indexer_price_default>USWF_GroupedProductConfiguration_Model_Product_Indexer_Price_Default</product_indexer_price_default>
                    <product_indexer_price_configurable>USWF_GroupedProductConfiguration_Model_Product_Indexer_Price_Configurable</product_indexer_price_configurable>
                    <product_indexer_price_grouped>USWF_GroupedProductConfiguration_Model_Product_Indexer_Price_Grouped</product_indexer_price_grouped>
                    <product_collection>USWF_GroupedProductConfiguration_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
            <bundle_resource>
                <rewrite>
                    <indexer_price>USWF_GroupedProductConfiguration_Model_Product_Indexer_Price_Bundle</indexer_price>
                </rewrite>
            </bundle_resource>
            <downloadable_resource>
                <rewrite>
                    <indexer_price>USWF_GroupedProductConfiguration_Model_Product_Indexer_Price_Downloadable</indexer_price>
                </rewrite>
            </downloadable_resource>
            <enterprise_giftcard_resource>
                <rewrite>
                    <indexer_price>USWF_GroupedProductConfiguration_Model_Product_Indexer_Price_Giftcard</indexer_price>
                </rewrite>                
            </enterprise_giftcard_resource>
            <review_resource>
                <rewrite>
                    <review>USWF_GroupedProductConfiguration_Model_Resource_Review</review>
                </rewrite>
            </review_resource>
        </models>
        <resources>
            <uswf_groupedproductconfiguration_setup>
                <setup>
                    <module>USWF_GroupedProductConfiguration</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </uswf_groupedproductconfiguration_setup>
        </resources>
    </global>
</config>
