<?xml version="1.0"?>
<!--
/**
 * Subscribe Pro - Subscriptions Management Extension
 *
 * PHP version 5
 *
 * LICENSE: This source file is subject to commercial source code license of SUBSCRIBE PRO INC.
 *
 * @category  SFC
 * @package   SFC_Autoship
 * @author    Garth Brantley <garth@subscribepro.com>
 * @copyright 2009-2016 SUBSCRIBE PRO INC. All Rights Reserved.
 * @license   http://www.subscribepro.com/terms-of-service/ Subscribe Pro Terms of Service
 * @link      http://www.subscribepro.com/
 *
 */
-->
<config>
    <modules>
        <SFC_Autoship>
            <version>1.3.2.13</version>
        </SFC_Autoship>
    </modules>
    <global>
        <helpers>
            <autoship>
                <class>SFC_Autoship_Helper</class>
            </autoship>
            <payment>
                <rewrite>
                    <data>SFC_Autoship_Helper_Payment</data>
                </rewrite>
            </payment>
        </helpers>
        <blocks>
            <autoship>
                <class>SFC_Autoship_Block</class>
            </autoship>

            <!-- Block overrides -->
            <catalog>
                <rewrite>
                    <product_view>SFC_Autoship_Block_Product_View</product_view>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <onepage_payment_methods>SFC_Autoship_Block_Checkout_Onepage_Payment_Methods</onepage_payment_methods>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_create_billing_method_form>SFC_Autoship_Block_Adminhtml_Sales_Order_Create_Billing_Method_Form</sales_order_create_billing_method_form>
                    <customer_edit_tabs>SFC_Autoship_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <autoship>
                <class>SFC_Autoship_Model</class>
                <resourceModel>autoship_mysql4</resourceModel>
            </autoship>
            <autoship_mysql4>
                <class>SFC_Autoship_Model_Mysql4</class>
                <entities>
                    <!--    Legacy entities.  These aren't used from version 1.3.1.4 forward, but definitions are needed
                            to make older upgrade scripts work.  -->
                    <subscription_order>
                        <table>sfc_autoship_subscription_order</table>
                    </subscription_order>
                    <legacy_product_profile>
                        <table>sfc_autoship_product_profile</table>
                    </legacy_product_profile>
                    <migrated_cimProfile>
                        <table>sfc_autoship_migrated_cim_profile</table>
                    </migrated_cimProfile>
                    <migrated_subscription>
                        <table>sfc_autoship_migrated_subscription</table>
                    </migrated_subscription>
                    <migrated_subscription_item>
                        <table>sfc_autoship_migrated_subscription_item</table>
                    </migrated_subscription_item>
                    <adapter_ordergroove_row>
                        <table>sfc_autoship_og_subscription</table>
                    </adapter_ordergroove_row>
                    <!--    End of Legacy entities.  -->
                </entities>
            </autoship_mysql4>

            <!-- Model rewrites -->
            <checkout>
                <rewrite>
                    <cart_product_api>SFC_Autoship_Model_Checkout_Cart_Product_Api</cart_product_api>
                </rewrite>
                <rewrite>
                    <cart_api>SFC_Autoship_Model_Checkout_Cart_Api</cart_api>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <quote_address>SFC_Autoship_Model_Quote_Address</quote_address>
                    <quote_item>SFC_Autoship_Model_Sales_Quote_Item</quote_item>
                </rewrite>
            </sales>
            <salesrule>
                <rewrite>
                    <validator>SFC_Autoship_Model_SalesRule_Validator</validator>
                    <rule_condition_product>SFC_Autoship_Model_SalesRule_Rule_Condition_Product</rule_condition_product>
                </rewrite>
            </salesrule>
            <paypal>
                <rewrite>
                    <express>SFC_Autoship_Model_Paypal_Express</express>
                </rewrite>
            </paypal>
            <!-- EE Model Rewrites -->
            <enterprise_giftcardaccount>
                <rewrite>
                    <observer>SFC_Autoship_Model_Enterprise_GiftCardAccount_Observer</observer>
                </rewrite>
            </enterprise_giftcardaccount>
            <enterprise_reward>
                <rewrite>
                    <observer>SFC_Autoship_Model_Enterprise_Reward_Observer</observer>
                </rewrite>
            </enterprise_reward>
        </models>

        <resources>
            <sfc_autoship_setup>
                <setup>
                    <module>SFC_Autoship</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </setup>
            </sfc_autoship_setup>
        </resources>

        <cache>
            <types>
                <subscribe_pro_config>
                    <label>Subscribe Pro Configuration</label>
                    <description>API credentials and configuration settings from the Subscribe Pro platform.</description>
                    <tags>SP_CONFIG</tags>
                </subscribe_pro_config>
                <subscribe_pro_products>
                    <label>Subscribe Pro Product Data</label>
                    <description>Product subscription attributes from the Subscribe Pro platform.  For example, intervals, subscription discount, etc.</description>
                    <tags>SP_PRODUCTS</tags>
                </subscribe_pro_products>
            </types>
        </cache>

        <events>
            <catalog_product_save_commit_after>
                <observers>
                    <subscription_product_save_commit_after>
                        <type>singleton</type>
                        <class>autoship/observer</class>
                        <method>onProductSaveCommitAfter</method>
                    </subscription_product_save_commit_after>
                </observers>
            </catalog_product_save_commit_after>

            <checkout_cart_add_product_complete>
                <observers>
                    <subscription_checkout_cart_add_product_complete>
                        <type>singleton</type>
                        <class>autoship/observer</class>
                        <method>onCheckoutCartAddProductComplete</method>
                    </subscription_checkout_cart_add_product_complete>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_update_items_after>
                <observers>
                    <subscription_checkout_cart_update_items_after>
                        <type>singleton</type>
                        <class>autoship/observer</class>
                        <method>onCheckoutCartUpdateItemsAfter</method>
                    </subscription_checkout_cart_update_items_after>
                </observers>
            </checkout_cart_update_items_after>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <subscription_adminhtml_sales_order_create_process_data>
                        <type>singleton</type>
                        <class>autoship/observer</class>
                        <method>onAdminhtmlSalesOrderCreateProcessData</method>
                    </subscription_adminhtml_sales_order_create_process_data>
                </observers>
            </adminhtml_sales_order_create_process_data>
            <sales_convert_order_item_to_quote_item>
                <observers>
                    <subscription_sales_convert_order_item_to_quote_item>
                        <type>singleton</type>
                        <class>autoship/observer</class>
                        <method>onSalesConvertOrderItemToQuoteItem</method>
                    </subscription_sales_convert_order_item_to_quote_item>
                </observers>
            </sales_convert_order_item_to_quote_item>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <subscription_sales_convert_quote_item_to_order_item>
                        <type>singleton</type>
                        <class>autoship/observer</class>
                        <method>onSalesConvertQuoteItemToOrderItem</method>
                    </subscription_sales_convert_quote_item_to_order_item>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_convert_order_to_quote>
                <observers>
                    <subscription_sales_convert_order_to_quote>
                        <type>singleton</type>
                        <class>autoship/observer</class>
                        <method>onSalesConvertOrderToQuote</method>
                    </subscription_sales_convert_order_to_quote>
                </observers>
            </sales_convert_order_to_quote>
            <checkout_submit_all_after>
                <observers>
                    <subscription_checkout_submit_all_after>
                        <type>singleton</type>
                        <class>autoship/observer</class>
                        <method>onCheckoutSubmitAllAfter</method>
                    </subscription_checkout_submit_all_after>
                </observers>
            </checkout_submit_all_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <subscription_checkout_onepage_controller_success_action>
                        <type>singleton</type>
                        <class>autoship/observer</class>
                        <method>onCheckoutOnepageControllerSuccessAction</method>
                    </subscription_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_allow_guest>
                <observers>
                    <checkout_allow_guest>
                        <class>autoship/observer</class>
                        <method>isAllowedGuestCheckout</method>
                    </checkout_allow_guest>
                </observers>
            </checkout_allow_guest>
            <customer_save_after>
                <observers>
                    <subscription_customer_save_after>
                        <type>singleton</type>
                        <class>autoship/observer</class>
                        <method>onCustomerSave</method>
                    </subscription_customer_save_after>
                </observers>
            </customer_save_after>
        </events>

    </global>

    <!-- Frontend layout XML updates and routers -->
    <frontend>
        <secure_url>
            <autoship>/subscriptions</autoship>
        </secure_url>
        <routers>
            <autoship>
                <use>standard</use>
                <args>
                    <module>SFC_Autoship</module>
                    <frontName>subscriptions</frontName>
                </args>
            </autoship>
        </routers>
        <layout>
            <updates>
                <autoship module="SFC_Autoship">
                    <file>autoship.xml</file>
                </autoship>
            </updates>
        </layout>
    </frontend>
    <!-- Frontend layout XML updates -->

    <!-- Admin panel routers -->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SFC_Autoship before="Mage_Adminhtml">SFC_Autoship_Adminhtml</SFC_Autoship>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!-- Admin panel html changes -->
    <adminhtml>
        <layout>
            <updates>
                <autoship>
                    <file>autoship.xml</file>
                </autoship>
            </updates>
        </layout>
    </adminhtml>

    <!-- Admin events -->
    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <autoship_adminhtml_widget_container_html_before>
                        <class>autoship/adminhtml_observer</class>
                        <type>singleton</type>
                        <method>adminhtmlWidgetContainerHtmlBefore</method>
                    </autoship_adminhtml_widget_container_html_before>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>

    <!-- Cron job schedules -->
    <crontab>
        <jobs>
        </jobs>
    </crontab>

    <!-- Default configuration settings -->
    <default>
        <autoship_general>
            <general>
                <enabled>0</enabled>
            </general>
            <platform_api>
                <platform_host>api.subscribepro.com</platform_host>
                <log_level>6</log_level>
                <log_request>0</log_request>
            </platform_api>
            <advanced>
                <cache_lifetime>300</cache_lifetime>
            </advanced>
            <!-- These config settings are intended to be overridden with installation-specific values in
                 app/etc/local.xml file -->
            <developer>
                <!-- allow_custom_options - default = 0 = false -->
                <allow_custom_options>0</allow_custom_options>
            </developer>
        </autoship_general>
        <autoship_subscription>
            <options>
                <next_order_date_mode>1</next_order_date_mode>
            </options>
            <discount>
                <!-- Default to combine subscription discount with other discounts -->
                <cartrule_combine_type>4</cartrule_combine_type>
            </discount>
            <new_subscription_page>
                <enable_new_subscription_page>0</enable_new_subscription_page>
            </new_subscription_page>
        </autoship_subscription>
        <payment>
            <subscribe_pro>
                <active>0</active>
                <active_non_subscription>0</active_non_subscription>
                <model>autoship/payment_method</model>
                <title>Subscribe Pro Vault</title>
                <allowspecific>0</allowspecific>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize_capture</payment_action>
                <reauthorize_partial_capture>0</reauthorize_partial_capture>
                <multiple_capture_support>0</multiple_capture_support>
                <order_status>processing</order_status>
                <currency>USD</currency>
                <allow_guest_checkout>1</allow_guest_checkout>
                <use_transparent_redirect>0</use_transparent_redirect>
            </subscribe_pro>
        </payment>
        <carriers>
            <subscribepro>
                <active>1</active>
                <model>autoship/shipping_carrier</model>
                <title>Recurring Order Shipping</title>
                <standard_title>Standard Shipping</standard_title>
                <default_standard_shipping_price>5.0</default_standard_shipping_price>
                <enable_free_shipping>0</enable_free_shipping>
                <free_title>Free Shipping</free_title>
                <free_shipping_minimum_order_total>100.0</free_shipping_minimum_order_total>
                <free_shipping_minimum_order_total_international>200.0</free_shipping_minimum_order_total_international>
                <enable_international_shipping>0</enable_international_shipping>
                <international_title>International Shipping</international_title>
                <default_international_shipping_price>15.0</default_international_shipping_price>
            </subscribepro>
        </carriers>
    </default>

</config>
