<?xml version="1.0"?>
<config>
    <modules>
        <Lyonscg_Checkout>
            <version>0.1.0</version>
        </Lyonscg_Checkout>
    </modules>
    <global>
        <helpers>
            <lyonscg_checkout>
                <class>Lyonscg_Checkout_Helper</class>
            </lyonscg_checkout>
        </helpers>
        <models>
            <lyonscg_checkout>
                <class>Lyonscg_Checkout_Model</class>
            </lyonscg_checkout>
        </models>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage_link>Lyonscg_Checkout_Block_Onepage_Link</onepage_link>
                    <onepage_billing>Lyonscg_Checkout_Block_Onepage_Billing</onepage_billing>
                    <onepage_shipping>Lyonscg_Checkout_Block_Onepage_Shipping</onepage_shipping>
                </rewrite>
            </checkout>
        </blocks>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <lyonscg_checkout before="Mage_Checkout">Lyonscg_Checkout</lyonscg_checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <lyonscg_checkout_checkout_cart_product_add_after>
                        <type>model</type>
                        <class>Lyonscg_Checkout_Model_Observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </lyonscg_checkout_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
</config>
