<?xml version="1.0" ?>
<config>
    <modules>
        <Sam_HardnessDatabase>
            <version>1.0.0</version>
        </Sam_HardnessDatabase>
    </modules>
    <global>
        <blocks>
            <hardness>
                <class>Sam_HardnessDatabase_Block</class>
            </hardness>
        </blocks>
        <helpers>
            <hardness>
                <class>Sam_HardnessDatabase_Helper</class>
            </hardness>
        </helpers>
        <models>
            <hardness>
                <class>Sam_HardnessDatabase_Model</class>
                <resourceModel>hardness_resource</resourceModel>
            </hardness>
            <hardness_resource>
                <class>Sam_HardnessDatabase_Model_Resource</class>
                <entities>
                    <table_zipcodes>
                        <table>hardness_zip_codes</table>
                    </table_zipcodes>
                </entities>
            </hardness_resource>
        </models>
        <resources>
            <hardness_setup>
                <setup>
                    <module>Sam_HardnessDatabase</module>
                </setup>
            </hardness_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <hardness>
                <use>standard</use>
                <args>
                    <module>Sam_HardnessDatabase</module>
                    <frontName>hardness</frontName>
                </args>
            </hardness>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Sam_HardnessDatabase before="Mage_Adminhtml">Sam_HardnessDatabase_Adminhtml</Sam_HardnessDatabase>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>