<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* config.xml
*
* @category    USWF
* @package     USWF_Catalog
* @copyright
* @author
*/
-->
<config>
    <modules>
        <USWF_Catalog>
            <version>0.0.4</version>
        </USWF_Catalog>
    </modules>
    <global>
        <blocks>
            <uswf_catalog>
                <class>USWF_Catalog_Block</class>
            </uswf_catalog>
            <page>
                <rewrite>
                    <html_topmenu>USWF_Catalog_Block_Html_Topmenu</html_topmenu>
                </rewrite>
            </page>
            <catalog>
                <rewrite>
                    <product_price>USWF_Catalog_Block_Product_Price</product_price>
                    <product_view_type_grouped>USWF_Catalog_Block_Product_View_Type_Grouped</product_view_type_grouped>
                    <product_list>USWF_Catalog_Block_Catalog_Product_List</product_list>
                </rewrite>
            </catalog>
            <lyonscg_catalog>
                <rewrite>
                    <product_upsell_item>USWF_Catalog_Block_Catalog_Product_Upsell_Item</product_upsell_item>
                </rewrite>
            </lyonscg_catalog>
        </blocks>
        <helpers>
            <uswf_catalog>
                <class>USWF_Catalog_Helper</class>
            </uswf_catalog>
        </helpers>
        <models>
            <uswf_catalog>
                <class>USWF_Catalog_Model</class>
                <resourceModel>uswf_catalog_resource</resourceModel>
            </uswf_catalog>
            <uswf_catalog_resource>
                <class>USWF_Catalog_Model_Resource</class>
            </uswf_catalog_resource>
            <catalog>
                <rewrite>
                    <product_type_price>USWF_Catalog_Model_Product_Type_Price</product_type_price>
                </rewrite>
            </catalog>
            <enterprise_catalog>
                <rewrite>
                    <index_action_product_flat_refresh>USWF_Catalog_Model_Catalog_Index_Action_Product_Flat_Refresh</index_action_product_flat_refresh>
                </rewrite>
            </enterprise_catalog>
        </models>
        <resources>
            <uswf_catalog_setup>
                <setup>
                    <module>USWF_Catalog</module>
                </setup>
            </uswf_catalog_setup>
        </resources>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <catalog_add_topmenu_items>
                        <class>uswf_catalog/observer</class>
                        <method>addCatalogToTopmenuItems</method>
                    </catalog_add_topmenu_items>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <uswf_catalog>
                    <file>uswf/catalog.xml</file>
                </uswf_catalog>
            </updates>
        </layout>
        <routers>
            <standart>
                <use>uswf_catalog</use>
                <args>
                    <frontName>ajaxfilter</frontName>
                    <module>USWF_Catalog</module>
                </args>
            </standart>
            <catalog>
                <args>
                    <modules>
                        <uswf_catalog before="Mage_Catalog">USWF_Catalog</uswf_catalog>
                    </modules>
                </args>
            </catalog>
        </routers>
        <events>
            <catalog_category_flat_loadnodes_before>
                <observers>
                    <lyonscg_catalog_catalog_category_flat_loadnodes_before>
                        <type>disabled</type>
                    </lyonscg_catalog_catalog_category_flat_loadnodes_before>
                </observers>
            </catalog_category_flat_loadnodes_before>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <lyonscg_catalog_page_block_html_topmenu_gethtml_before>
                        <type>disabled</type>
                    </lyonscg_catalog_page_block_html_topmenu_gethtml_before>
                </observers>
            </page_block_html_topmenu_gethtml_before>
            <catalog_controller_product_view>
                <observers>
                    <uswf_catalog_controller_product_view>
                        <type>singleton</type>
                        <class>USWF_Catalog_Model_Observer</class>
                        <method>catalogControllerProductView</method>
                    </uswf_catalog_controller_product_view>
                </observers>
            </catalog_controller_product_view>
            <catalog_product_is_salable_after>
                <observers>
                    <lyonscg_catalog_product_is_salable_after>
                        <type>disabled</type>
                    </lyonscg_catalog_product_is_salable_after>
                    <uswf_catalog_product_is_salable_after>
                        <class>USWF_Catalog_Model_Observer</class>
                        <type>singleton</type>
                        <method>checkIsSalable</method>
                    </uswf_catalog_product_is_salable_after>
                </observers>
            </catalog_product_is_salable_after>
            <catalog_product_upsell>
                <observers>
                    <uswf_catalog_catalog_product_upsell>
                        <class>USWF_Catalog_Model_Observer</class>
                        <type>singleton</type>
                        <method>filterUpsellNFS</method>
                    </uswf_catalog_catalog_product_upsell>
                </observers>
            </catalog_product_upsell>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <catalog_product_save_after>
                <observers>
                    <uswf_catalog>
                        <class>uswf_catalog/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </uswf_catalog>
                    <uswf_catalog_not_for_sale>
                        <class>uswf_catalog/observer</class>
                        <method>catalogProductSaveAfterNotForSale</method>
                    </uswf_catalog_not_for_sale>
                </observers>
            </catalog_product_save_after>
            <admin_system_config_changed_section_catalog>
                <observers>
                    <uswf_catalog_admin_system_config_changed_section_catalog>
                        <class>uswf_catalog/observer</class>
                        <method>weekendsSave</method>
                    </uswf_catalog_admin_system_config_changed_section_catalog>
                </observers>
            </admin_system_config_changed_section_catalog>
        </events>
    </adminhtml>
    <default>
        <catalog>
            <pdp>
                <set_time_in_stock>06,00,00</set_time_in_stock>
                <set_weekends_active>1</set_weekends_active>
            </pdp>
            <layered_navigation>
                <display_price_navigation>1</display_price_navigation>
            </layered_navigation>
            <logopaypal>
                <button_on_desktop>0</button_on_desktop>
                <button_on_mobile>1</button_on_mobile>
            </logopaypal>
        </catalog>
        <web>
            <routers>
                <uswf_catalog>
                    <area>frontend</area>
                    <class>USWF_Catalog_Controller_Router</class>
                </uswf_catalog>
            </routers>
        </web>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <uswf_catalog before="Mage_Adminhtml">USWF_Catalog_Adminhtml</uswf_catalog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
