<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <catalog translate="label">
            <groups>
                <layered_navigation>
                    <fields>
                        <display_price_navigation translate="label">
                            <label>Display Price Navigation</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_price_navigation>
                    </fields>
                </layered_navigation>
                <logopaypal translate="label">
                    <label>PayPal on PDP</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <button_on_desktop translate="label">
                            <label>Button on Desktop</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </button_on_desktop>
                        <button_on_mobile translate="label">
                            <label>Button on Mobile</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </button_on_mobile>
                    </fields>
                </logopaypal>
            </groups>
        </catalog>
    </sections>
</config>
