<?xml version="1.0"?>
<config>
    <modules>
        <Lyonscg_FilterFinder>
            <version>0.2.0</version>
        </Lyonscg_FilterFinder>
    </modules>
    <global>
        <blocks>
            <lyonscg_filterfinder>
                <class>Lyonscg_FilterFinder_Block</class>
            </lyonscg_filterfinder>
        </blocks>
        <helpers>
            <lyonscg_filterfinder>
                <class>Lyonscg_FilterFinder_Helper</class>
            </lyonscg_filterfinder>
        </helpers>
        <models>
            <lyonscg_filterfinder>
                <class>Lyonscg_FilterFinder_Model</class>
                <resourceModel>lyonscg_filterfinder_resource</resourceModel>
            </lyonscg_filterfinder>
            <lyonscg_filterfinder_resource>
                <class>Lyonscg_FilterFinder_Model_Resource</class>
                <deprecatedNode>lyonscg_filterfinder_mysql4</deprecatedNode>
                <entities>
                    <filterfinder>
                        <table>lyonscg_filterfinder</table>
                    </filterfinder>
                </entities>
            </lyonscg_filterfinder_resource>
        </models>
        <resources>
            <lyonscg_filterfinder_setup>
                <setup>
                    <module>Lyonscg_FilterFinder</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </lyonscg_filterfinder_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <filterfinder>
                <use>standard</use>
                <args>
                    <module>Lyonscg_FilterFinder</module>
                    <frontName>FridgeFilterFinder</frontName>
                </args>
            </filterfinder>
        </routers>
        <layout>
            <updates>
                <filterfinder>
                    <file>filterfinder.xml</file>
                </filterfinder>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <filterfinder>
                    <file>filterfinder.xml</file>
                </filterfinder>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
            </resources>
        </acl>
        <events>
            <catalog_product_save_after>
                <observers>
                    <filterfinder_save_data>
                        <type>singleton</type>
                        <class>lyonscg_filterfinder/observer</class>
                        <method>saveFilterFinderData</method>
                    </filterfinder_save_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>