<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Lyonscg Indexer
 *
 * @category    Lyonscg
 * @package     Lyonscg_Indexer
 * @copyright   Copyright (c) 2015 Lyons Consulting Group (www.lyonscg.com)
 * @author      Eugene Nazarov (enazarov@lyonscg.com) 
 */
-->
<config>
    <modules>
        <Lyonscg_Indexer>
            <version>0.1.0</version>
        </Lyonscg_Indexer>
    </modules>
    <global>
        <models>
            <lyonscg_indexer>
                <class>Lyonscg_Indexer_Model</class>
            </lyonscg_indexer>
        </models>
        <helpers>
            <lyonscg_indexer>
                <class>Lyonscg_Indexer_Helper</class>
            </lyonscg_indexer>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <lyonscg_reindex_all>
                <schedule>
                    <config_path>lyonscg_indexer/reindex_all/cron_expr</config_path>
                </schedule>
                <run>
                    <model>lyonscg_indexer/cron::reindexAll</model>
                </run>
            </lyonscg_reindex_all>
        </jobs>
    </crontab>
    <default>
        <lyonscg_indexer>
            <reindex_all>
                <enabled>1</enabled>
                <cron_expr>30 1 * * *</cron_expr>
            </reindex_all>
        </lyonscg_indexer>
    </default>
</config>