<?xml version="1.0"?>
<config>
    <modules>
        <USWF_PayPal>
            <version>0.1.0</version>
        </USWF_PayPal>
    </modules>
    <global>
        <models>
            <uswf_paypal>
                <class>USWF_PayPal_Model</class>
            </uswf_paypal>
            <paypal>
                <rewrite>
                    <config>USWF_PayPal_Model_Paypal_Config</config>
                </rewrite>
            </paypal>
        </models>
        <helpers>
            <uswf_paypal>
                <class>USWF_PayPal_Helper</class>
            </uswf_paypal>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <sales_order_load_after>
                <observers>
                    <uswf_paypal>
                        <class>uswf_paypal/observer</class>
                        <method>salesOrderLoadAfter</method>
                    </uswf_paypal>
                </observers>
            </sales_order_load_after>
            <payment_info_block_prepare_specific_information>
                <observers>
                    <uswf_paypal>
                        <class>uswf_paypal/observer</class>
                        <method>paymentInfoBlockPrepareSpecificInformation</method>
                    </uswf_paypal>
                </observers>
            </payment_info_block_prepare_specific_information>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <sales_quote_payment_import_data_before>
                <observers>
                    <uswf_paypal>
                        <class>uswf_paypal/observer</class>
                        <method>salesQuotePaymentImportDataBefore</method>
                    </uswf_paypal>
                </observers>
            </sales_quote_payment_import_data_before>
        </events>
    </frontend>
</config>