<?xml version="1.0"?>
<config>
    <modules>
        <USWF_GiftPurchase>
            <version>0.1.1</version>
        </USWF_GiftPurchase>
    </modules>
    <global>
        <models>
            <uswf_giftpurchase>
                <class>USWF_GiftPurchase_Model</class>
                <resourceModel>uswf_giftpurchase_resource</resourceModel>
            </uswf_giftpurchase>
            <uswf_giftpurchase_resource>
                <class>USWF_GiftPurchase_Model_Resource</class>
                <entities>
                    <rule>
                        <table>giftpurchase</table>
                    </rule>
                    <rule_product>
                        <table>giftpurchase_product</table>
                    </rule_product>
                    <rule_group_website>
                        <table>giftpurchase_group_website</table>
                    </rule_group_website>
                    <website>
                        <table>giftpurchase_website</table>
                    </website>
                    <customer_group>
                        <table>giftpurchase_customer_group</table>
                    </customer_group>
                    <gift_product>
                        <table>giftpurchase_gift_product</table>
                    </gift_product>
                </entities>
            </uswf_giftpurchase_resource>
        </models>
        <resources>
            <uswf_giftpurchase_setup>
                <setup>
                    <module>USWF_GiftPurchase</module>
                </setup>
            </uswf_giftpurchase_setup>
        </resources>
        <blocks>
            <uswf_giftpurchase>
                <class>USWF_GiftPurchase_Block</class>
            </uswf_giftpurchase>
        </blocks>
        <helpers>
            <uswf_giftpurchase>
                <class>USWF_GiftPurchase_Helper</class>
            </uswf_giftpurchase>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <uswf_giftpurchase after="Mage_Adminhtml">USWF_GiftPurchase_Adminhtml</uswf_giftpurchase>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <uswf_giftpurchase>
                    <file>uswf/giftpurchase/gift.xml</file>
                </uswf_giftpurchase>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <uswf_giftpurchase>
                    <file>uswf/giftpurchase/gift.xml</file>
                </uswf_giftpurchase>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <uswf_giftpurchase_checkout_cart_product_add_after>
                        <type>singleton</type>
                        <class>uswf_giftpurchase/observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </uswf_giftpurchase_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_product_add_after>
                <observers>
                    <uswf_giftpurchase_sales_quote_product_add_after>
                        <type>singleton</type>
                        <class>uswf_giftpurchase/observer</class>
                        <method>salesQuoteProductAddAfter</method>
                    </uswf_giftpurchase_sales_quote_product_add_after>
                </observers>
            </sales_quote_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <uswf_giftpurchase_sales_quote_remove_item>
                        <type>singleton</type>
                        <class>uswf_giftpurchase/observer</class>
                        <method>salesQuoteRemoveItem</method>
                    </uswf_giftpurchase_sales_quote_remove_item>
                </observers>
            </sales_quote_remove_item>
        </events>
    </global>
</config>